td.pad {
	padding-right:20px;
}

div.messages {
	 max-height: 300px;
	 overflow: auto;
}

.clickable:hover {
	cursor: pointer;
}

.alert {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 2px;
}

.help-inline:before {
	content: "[";
}

.help-inline:after {
	content: "]";
}

.help-inline {
  color: #aa0000;
	font-size: smaller;
	text-transform: lowercase;
/* 	float: right; */
}

.ui-widget {
    font-size: 1em;
}

.form-control {
    height: 28px;
    padding: 3px 3px;
}

.input-group-btn > .btn {
    height: 24px;
    padding: 3px 3px;
}

/*
.ui-widget-header {
    background: #f4f4f4;
}
*/

.column { width: 370px; float: left; padding-bottom: 10px; }
.portlet { margin: 0 2px 2px 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.control-group {
}

.form-control {
/*
	border: 1px solid rgba(0, 0, 0, 0.04);
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.04);
*/
	background-color: inherit;
	border-radius: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-style: dashed;
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	box-shadow: none;
	transition: none;
	padding: 0px;
	margin: 0px;
	height: 24px;
}

form table {
	width: 100%;
}

form table td {
	padding: 6px;
}

.message-error {
    margin: 2px;
    padding: 2px;
    border: 1px solid;
    font-weight: initial;
    color: rgba(180, 0, 0, 0.9);
}

.message-info {
    margin: 2px;
    padding: 2px;
    border: 1px solid;
    font-weight: initial;
    color: rgba(40, 40, 200,0.9);
}

.message-success {
    margin: 2px;
    padding: 2px;
    border: 1px solid;
    font-weight: initial;
    color: rgba(40, 200, 40, 0.9);
}